<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jit.xyyk.edusystem.repository.before.UserCourseRepository">

    <!--获取所有的Course-->
    <select id="getAllCourses" resultType="Course">
        SELECT course_id,course_name,course_detail,course_link,course_pic,coursetype_name FROM tb_course,tb_coursetype WHERE tb_coursetype.coursetype_id=tb_course.coursetype_id
    </select>

    <select id="selCourse" resultType="Course" parameterType="int">
        SELECT course_id,course_name,course_detail,course_link,course_pic,coursetype_name FROM tb_course,tb_coursetype WHERE tb_coursetype.coursetype_id=tb_course.coursetype_id AND course_id =#{arg0}
    </select>

    <select id="selOtherCourse" resultType="Course" parameterType="int">
        SELECT course_id,course_name,course_detail,course_link,course_pic,coursetype_name FROM tb_course,tb_coursetype WHERE tb_coursetype.coursetype_id=tb_course.coursetype_id AND course_id !=#{arg0}
    </select>

    <select id="getAllCourseType" resultType="Coursetype">
        SELECT coursetype_id ,coursetype_name FROM tb_coursetype
    </select>

</mapper>